<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <input type="color" class="color-selector" id="color-selector">
    <div class="container">
        <div class="grid">
            <div class="grid-item" id="chat">GPT 3.5</div>
            <div class="grid-item" id="gpt4">GPT 4</div>
            <div class="grid-item" id="book">Book Creator</div>
            <!-- Agregar más funciones aquí -->
        </div>
    </div>
    <script>
        document.getElementById('chat').addEventListener('click', () => {
            window.location.href = 'chat'; // Reemplazar con la ruta al archivo HTML del chat
        });

        document.getElementById('gpt4').addEventListener('click', () => {
            window.location.href = 'gpt4'; // Reemplazar con la ruta al archivo HTML del generador de prompts
        });

        document.getElementById('book').addEventListener('click', () => {
           <!-- window.location.href = 'book'; // Reemplazar con la ruta al archivo HTML del generador de prompts -->
        });

        // Agregar más eventos de clic para las funciones adicionales aquí
// Escuchar el evento de cambio en el color selector
document.getElementById('color-selector').addEventListener('change', (event) => {
    // Obtener el color seleccionado
    const selectedColor = event.target.value;

    // Cambiar el color de fondo de todos los elementos de la cuadrícula
    const gridItems = document.querySelectorAll('.grid-item');
    gridItems.forEach((item) => {
        item.style.backgroundColor = selectedColor;
    });
});
        
    </script>
</body>
</html>

